# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.TestingGrounds.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\LAFri\Documents\_GitHubRepos\TestingGrounds\.idea\.idea.TestingGrounds\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
